version: "3.9"

services:
  api:
    build: ./server
    container_name: chat-backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    depends_on:
      - mongo
      - ml
    networks:
      - chat-network

  ml:
    build: ./ml-service
    container_name: chat-ml-service
    restart: unless-stopped
    ports:
      - "8000:8000"
    env_file:
      - ./ml-service/.env
    networks:
      - chat-network

  mongo:
    image: mongo:6
    container_name: mongo-db
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpass
    networks:
      - chat-network

  mongo-express:
    image: mongo-express
    container_name: mongo-ui
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: rootpass
      ME_CONFIG_MONGODB_SERVER: mongo
    depends_on:
      - mongo
    networks:
      - chat-network

networks:
  chat-network:
    driver: bridge

volumes:
  mongo-data:
